.card-comments__photo{
   height: 97px;
   width: 97px;
    border-radius: 45px;
    margin-bottom: 42px;
}



@media screen and (max-width:425px){
    .card-comments__photo{
        margin-bottom: 16px;
    }
}
@media screen and (min-width : 425px) and (max-width : 768px) {
    .card-comments__photo{
        margin-bottom: 16px;
    }
}