.intro__description{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    max-width: 683px;
    display: flex;
    margin-bottom: 24px;
    }


@media screen and (max-width:425px){
    .intro__description{
        max-width: 343px;
        font-size: 16px;
        line-height: 27px;
        margin-bottom: 32px;
    }
}