.card-additional__title{
font-style: normal;
font-weight: 900;
font-size: 27px;
line-height: 29px;
color: #FFFFFF;
max-width: 248px;
margin-left: 18px;
margin-bottom: 161px;
z-index: 2;
position: relative;
}
