@import url('./__title/cover__title.css');
@import url('./__text/cover__text.css');
@import url('./__bg/cover__bg.css');
.cover{
    margin: auto;
    max-width: 1184px;  
    margin-bottom: 160px;
  
}

@media screen and (max-width:425px){
    .cover{
        margin-bottom: 64px;
        max-width: 375px;
    }
}
@media screen and (min-width : 425px) and (max-width : 768px) {
    .cover{
        margin-bottom: 102px;
        max-width: 768px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .cover{
        max-width: 1045px;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1280px) {
   .cover{
       max-width: 1184px;
   }
}

